#reittihaku {
    margin: 0% 0% 0% 0%;
    font-size:130%;
    background-color:powderblue
}
.reittihakupanel {
    margin:1%
}
#reittihaku-title {
    padding-bottom:1%
}
.content-row {
    padding-bottom: 0%;
}

#heading-panel {
    text-align: center;
    background-color: gainsboro
}

.reittihakurow {
    margin-bottom: 1%
}

.nodeButtonContainer {
    background-color: rgb(197, 198, 204);
    text-align: center;
    float: left;
    width: 5%;
    margin-right:0.5%;
    border-radius: 10px;
    border: 2px solid lightblue
}

.bestRouteElemContainer {
    float: left;
    margin-right: 1%;
    margin-left: 1%
}

.routeColorContainer {
    float: left
}

#reitti {
    font-weight: bold;
}

.highlight {
    background-color: greenyellow;
}

.keltainen {
    background-color: yellow
}

.punainen {
    background-color: red
}

.vihreä {
    background-color: green;
}

.sininen {
    background-color: blue;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
  }